<div class="topcat-navigation-bar">
    <div class="topcat-navigation-bar__item center full">
        <h1 class="topcat-navigation-bar__title">Weather History</h1>
    </div>
</div>

<div class="search-bar">
    <input ng-model="query" type="search" placeholder="Search" class="topcoat-search-input search-key">
</div>

<div class="topcoat-list__container scroller" style="top:138px;">
    <ul class="topcoat-list list">
        <li ng-repeat="observation in observations | filter:query | orderBy:orderProp" class="topcoat-list__item">
            <a ng-click="go('/observations/' + observation.observationId)">
            <img ng-src="pics/amy_jones.jpg">
            <p>{{observation.tempm}} degrees Celsius </p>
            <p>{{observation.date.pretty}}</p>
            <span class="chevron"></span><span class="count">{{observation.id}}</span>
            </a>
        </li>
    </ul>
</div>
